html,

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  height: 100%;
}

.page-container {
  width: 100%;
  max-width: 1518px;
  margin: 0 auto;
  padding: 12px 20px;
  box-sizing: border-box;
  background-image: url("images/background.png"); /*Applies a background image to the page*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.profile-row{
  height: 300px;
  border-radius: 29px; /* Applies rounded corners to the profile row */
  margin: 59px 30px 60px 80px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 20px;
}

.profile-photo {
  width: 300px;
  height: 300px;
  border-radius: 29px;
}

.bio-block {
    max-width: 100%;
    width: 900px;
    padding: 40px 54px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 29px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    display: flex; /*Use flexbox to arrange elements in a column layout */
    flex-direction: column;
    justify-content: center;
    gap: 10px; 
  }
  
  
  .name {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 104%; 
    margin: 0; 
  }

  .bio {
    width: 856px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0%;
    line-height: 151%;
    color:  rgba(92, 92, 92, 1);
    margin: 0;
  }
  
  .skills-proficiency-row {
    max-width: 1350px; 
    margin: 0 auto;   
    display: flex;
    gap: 45px;         
    justify-content: space-between;
  }
   
  .proficiency-card {
    width: 48%;
    background-color: white;
    border-radius: 29.04px;
    padding: 41px 28px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
  }
  
  .skills-card {
    width: 48%;
    background-color: white;
    border-radius: 29.04px;
    padding: 28px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
  }
  
  .proficiency-scale {
    display: flex; /* Use flexbox to distribute elements evenly */
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    width: 509px;
    font-size: 24.2px;
    font-weight: 500;
    color: #000;
    padding: 0 5px; /* Apply horizontal padding for spacing */
  }
  
  .skills-group {
    width: 509.09px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  
  .skill-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  
  .skill-item span {
    width: 150px;
    font-weight: 500;
    font-size: 24px;
  }
  
  
  .progress-bar {
    flex: 1;
    height: 26px;
    border-radius: 7px;
    overflow: hidden;
  }
  
  progress {
    width: 317px;
    height: 27px;
    background: #5d9c89;
    border-radius: 7px;
  }
  
  
  .progress.js {
    width: 70%;
  }
  
  .progress.react {
    width: 80%;
  }
  
  .progress.node {
    width: 40%; 
  }
  
  .progress.htmlcss {
    width: 85%;
  }

  .skills-badges {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start; 
  }
  
  
  .badge {
    background: #e7f0ec;
    border-radius: 96px;
    padding: 10px 24px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    line-height: 150%;
    letter-spacing: 0;
  }
  

  .projects-wrapper {
    margin: 40px 63px;
    background: white;
    border-radius: 29px;
    padding: 50px 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 10;
  }
  
  .project-card.featured {
    background-color: rgba(74,139,112,1);
    color: white; 
  }
  
  
  .projects-title {
    font-family: "Poppins", sans-serif;
    font-size: 33.88px;
    font-weight: 500;
    line-height: 150%;
    text-align: center;
    margin-bottom: 50px;
    color: rgba(0,0,1); 
  }
  
  
  .projects-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 34px;
    justify-items: center; 
  }
  
  
  .project-card {
    background: rgba(231,240,236,1);
    border-radius: 29.04px;
    padding: 8px 25px 8px 25px; 
    display: flex;
    flex-direction: column; 
    gap: 20px;  
    width: 100%; 
    max-width: 100%;
    box-sizing: border-box; 
  }
  
  .project-year-heart {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px; 
  }
   
  .project-heart {
    width: 26.62px; 
    color: rgba(215,98,57,1);
    margin-left: 8px;
  }
  
  .project-card:hover {
    transform: translateY(-6px); 
  }
  
  
  .project-year-heart span:first-child {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    font-size: 24.2px;
    font-weight: 500;
    color:rgba(0, 0, 0, 1);
  }
   
  .project-card.featured .project-year-heart  span:first-child {
    color: rgba(255,255,255,1);
  }
  
  .project-name {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24.2px; 
    line-height: 150%; 
    letter-spacing: 0;
    text-align: left;
  }
  
  .project-card p {
    font-size: 19.36px;
    line-height: 150%;
    font-weight: 400; 
    font-family: "Poppins", sans-serif;
    margin: 10px 0; 
  }
  
  .project-card p strong {
    font-weight: 700;
    font-size: 19.36px;
    line-height: 0%;
    font-family: "Poppins", sans-serif; 
  }
   
  .edu-tools-wrapper {
    display: flex;
    margin: 50px 59px; 
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box; 
    gap: 25px; 
  }
  
  
  .education-section {
    flex: 0 0 72%;
    background: #ffffff;
    border-radius: 29px;
    padding: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
  }
  
  
  .tools-wrapper {
    width: 100%;
    max-width: 300px;
    height: auto;
    background: #ffffff;
    border-radius: 29px;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    box-sizing: border-box;
  }
  
  .tools-title{
    font-size: 33.88px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0%;
    color: rgba(0, 0, 1,);
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .education-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  
  .education-entry {
    display: flex;
    flex-direction: row;
    border-radius: 29px;
    padding: 30px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    position: relative; 
  }
  
  
  .education-entry-primary {
    background: #4a8b70;
    color: white;
  }
  
  
  .education-entry-secondary {
    background: #e7f0ec;
    color: black; 
  }
  
   
  
  .education-entry-secondary .program-name,
  .education-entry-secondary .study-type
  {
    font-family: "Poppins", sans-serif;
    font-size: 19.36px !important;
    line-height: 150%;  
    letter-spacing: 0;
    color: rgba(63,61,61,1);
    font-weight: 400;
  }
  
  
 .institution-name{
  font-size: 24.2px !important;
  font-weight: 600 !important; 
  font-family: "Poppins", sans-serif; 
  white-space: nowrap; 
  }
  

  .education-entry-primary .institution-name {
    font-weight: 600 !important;
    color: white !important; 
  }   
  
  .date{
  font-size: 19.36;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 150%;
  
  }
  
  
  .entry-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
    min-width: 250px; 
  }
  
  
  .entry-description {
    font-family: "Poppins", sans-serif;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 19.36px;
    font-weight: 400; 
  }
  
  .tools-category {
    width: 184px;
    background: #f7f9f8;
    border-radius: 14.52px;
    padding: 38.72px 9.68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38.72px;
    margin-bottom: 20px; 
  }
  
  
  .tools-category-title {
    background: #000000;
    color: #fff; 
    padding: 4.84px 14.52px; 
    text-align: center; 
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    border-radius: 142px; 
    width: fit-content; 
    height: auto; 
    padding: 4.84px 14.52px;
    margin-bottom: -30px; 
    z-index: 1;
    position: relative;
    top: -40px;
  }
  
  
  .tools-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    align-items: center;
    justify-content: center; 
    border-radius: 142px;
  }
  
  
  .tool-icon {
    width: 41.14px;
    height: 41.14px;
    object-fit: contain; 
  }
  
  
  .experience-section {
    margin: 50px 59px; 
    background: #fff;
    border-radius: 29px; 
    padding: 50px 40px; 
  }
  
  
  .experience-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 29px; 
  }
  
  
  .experience-entry {
    background: rgba(231, 240, 236, 1);
    border-radius: 29px;
    padding: 30px; 
    display: flex;
    gap: 20px;
    position: relative;
    align-items: flex-start; 
  }
  
  
  .experience-entry-primary {
    background: rgba(74,139,112,1);
    color: white; 
  }
  
  .experience-entry-primary .date, 
  .experience-entry-primary .position-title,
  .experience-entry-primary .company-name,
  .experience-entry-primary .entry-description li {
    color: white !important;
  }

  
  .entry-details span,
  .entry-description li {
    font-size: 19.36px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;  
  }
  
   
  
  .experience-entry .date {
    font-family: "Poppins", sans-serif; 
    font-size: 19.36px;
    font-weight: 500;
    line-height: 150%;
  }
  
   
   
  
   